---
layout: bootcamp
root: .
venue: University of Virginia
address: TBD
country: United-States
humandate: Mar 10-11 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-03-10
enddate: 2014-03-11
latlng: 38.033553,-78.507977
registration: restricted
instructor: ["Michael Hansen", "Stephen Turner", "Erik Bray"]
contact: admin@software-carpentry.org
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/contact.html %}

<h2>Content</h2>

The syllabus for this bootcamp will include:
<ul>
  <li><a href="lessons/thw-shell/tutorial.html">Using the shell</a> to do more in less time</li>
  <li><a href="lessons/swc-git/tutorial.html">Using version control</a> to manage and share information</li>
  <li><a href="lessons/thw-python/vars-types/variables.html">Basic Python programming</a> and <a href="lessons/thw-python/data-structures/data_structures.html">data structures</a> using the <a href="http://ipython.org/notebook.html">IPython notebook</a></li>
  <li><a href="lessons/misc-pandas/an-introduction-to-pandas.html">Scientific Python</a> with <a href="http://pandas.pydata.org/">pandas</a></li>
  <li>How (and how much) to test programs</li>
  <li>Automation using make</li>
</ul>

<hr/>

<h2>Typical Setup</h2>

  {% include setup/vm.html %}

<h2>Advanced Setup</h2>
<p>
    For advanced users who would like to install the individual required
    software packages directly on their laptops (rather than downloading the
    virtual machine), we provide links below for Windows, Mac OS X, and Linux.
</p>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/windows-bash.html %}
    {% include setup/macosx-bash.html %}
    {% include setup/linux-bash.html %}
    <hr />
    {% include setup/overview-editor.html %}
    {% include setup/windows-editor.html %}
    {% include setup/macosx-editor.html %}
    {% include setup/linux-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/windows-git.html %}
    {% include setup/macosx-git.html %}
    {% include setup/linux-git.html %}
  </div>
</div>

<hr />

{% include setup/overview-python.html %}
{% include setup/windows-python.html %}
{% include setup/macosx-python.html %}
{% include setup/linux-python.html %}

<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
</ul>
