<div id="setup-vm" class="setup setup-vm">
  <h3>Virtual Machine</h3>
  
  <p>
    Installation issues can and do happen. To ensure that you
    can continue to participate in a lesson even if one of your
    software programs fails, we provide a Linux virtual machine
    that contains all the necessary software
    pre-installed. Please install
    <a href="https://www.virtualbox.org/">VirtualBox</a>
    and download
    <a href="http://people.virginia.edu/~sdt5z/swc_lubuntu.ova">this virtual machine image</a>.
    This may take awhile depending on your internet connection. Launch VirtualBox, and load the VM you just downloaded by Clicking "Import Appliance" under the file menu and selecting the <code>.ova</code> file you downloaded above.
  </p>
</div>
